body {
}
.nav-item-product {
}

    .nav-item-product:hover {
    }

.products-item {
    top: 30px;
    left: 25%;
    background-color: antiquewhite;
    position: absolute;
    max-height: auto;
    width: auto;
    z-index: 5;
}

a.title-category {
    display: block;
}

.product-item {
    margin-left: 20px;
    display: flex;
}

.nav-item-product:hover {
    color: red;
}
