
@{
    ViewBag.Title = "ThongBaoDatHang";
    Layout = "~/Views/HomeLayout/CardLayout.cshtml";
}

<h2>Thông báo đặt hàng</h2>

<h3>
    Cảm ơn bạn đã tin tưởng và ủng hộ shop chúng tôi sẽ giao hàng nhanh nhất có thể xin cảm ơn !
</h3>

<a href="@Url.Action("ShowCardUser","Home")">Xem tất cả đơn hàng của bạn</a>